*.db
.states
.web
assets/external/
*.py[cod]
env
.env
__pycache__/
*.pyc
*.pyo
*.pyd

temp_uploads/
uploads/
output/*.json
!output/.gitkeep

.web/
.states/
.reflex/

src/app/__pycache__/
src/app/ingest/__pycache__/
tests/__pycache__/
